<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Complete Flow Check">
        <classes>
            <class name="DheerajSaini.test.ModifiedStandAloneTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Error Validations ">
        <classes>
            <class name="DheerajSaini.test.ErrorValidationsTests"/>
        </classes>
    </test>


</suite>